* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: #fff !important;
	font-family: "Raleway", sans-serif;
	font-size: 1.6rem;
}

.panel {
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.panel-content {
	width: 100%;
}

.error {
	color: red;
}

.image-holder {
	height: 100%;
	width: 200px;
}

.link_download {
	color: black;
}

input {
	font-size: 1.4rem;
	padding: 5px 20px;
	align-self: flex-end;
	background-color: #93a5cf;
	border: 2px solid #6a85b6;
	border-radius: 4px;
}

.pop {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.error-message {
	color: red;
	display: none;
}

.label {
	font-size: 18px;
	margin-bottom: 5px;
}

.form-group {
	margin-bottom: 1rem;
}

.info-label {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.personal-info {
	position: relative;
}

.email {
	overflow-wrap: break-word;
}

.wrapper {
	display: inline-block;
	position: relative;
}

.tooltip {
	position: absolute;
	left: 100%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	opacity: 0;
	transition: opacity 0.3s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
	min-width: max-content;
}

.wrap:hover .tooltip {
	opacity: 1;
	font-weight: 600;
}

.employee-button {
	border: white;
	background-color: white;
}

.my-table,
.my-tabele1 {
	border-collapse: collapse;
	background: transparent;
}

.my-table th,
.my-table td,
.my-table1 th,
.my-table1 td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.my-table th,
.my-table1 th {
	background-color: #f2f2f2;
}

.modal {
	--bs-modal-width: fit-content !important;
}

.password_modal {
	--bs-modal-width: 500px !important;
}

.archive-list-popup {
	--bs-modal-width: 500px !important;
}

.delete-employee {
	border: none;
	background: transparent;
	text-decoration: underline;
}
