* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
	height: auto;
	font-size: 1.6rem;
	background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
	background-size: contain;
}

h1 {
	text-align: center;
	padding-bottom: 20px;
}

.div-boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.prison_cell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;

	border: 1px solid rgb(37, 143, 37);
}

button,
.dropdown .btn-prisoner {
	margin: 10px 0;
	font-size: 1.4rem;
	padding: 10px;
	border: 2px solid #000000;
}

@media (min-width: 992px) {
	body {
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.pop,
.move-popup {
	min-width: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e9e9e9;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	border-radius: 8px;
	min-height: 40%;
}

.info {
	display: flex;
	justify-content: space-between;
}

.pop .search,
.move-popup .move-search {
	background-color: transparent;
	border-radius: 0px;
	border-bottom: 2px solid black;
}

.move {
	max-width: 200px;
}
