* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
	min-height: 100vh;
	font-size: 1.6rem;
	background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
	background-size: contain;
}

h1 {
	text-align: center;
	padding-bottom: 20px;
}

.div-boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.prison_cell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 1px solid rgb(37, 143, 37);
}

.dropdown {
	margin: 10px 0;
	font-size: 1.2rem;
	padding: 10px;
}

.floor {
	padding: 5px 10px;
	background: transparent;
	border: 1px solid black;
	border-radius: 8px;
}

.pop,
.move-popup {
	min-width: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e9e9e9;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	border-radius: 8px;
	min-height: 40%;
}

.info {
	display: flex;
	justify-content: space-between;
}

.pop .search,
.move-popup .move-search,
.move-popup .search1 {
	background-color: transparent;
	border-radius: 0px;
	border-bottom: 2px solid black;
}

.move {
	max-width: 200px;
}

.my-table {
	border-collapse: collapse;
	width: 100%;
	background: transparent;
}

.my-table th,
.my-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.my-table th {
	background-color: #f2f2f2;
}

.show_relations {
	border: none;
	background: transparent;
	text-decoration: underline;
}



@media (min-width: 992px) {
	header .main_box {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	header .left_box {
		padding-right: 10px;
		border-right: 1px solid black;
	}

	.prisoner-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.question-mark-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 7px;
}

.question-mark-content {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.question-mark-icon:hover .question-mark-content {
	display: block;
	padding: 20px;
}

.question-mark-icon:hover .question-mark-content .space {
	display: flex;
	justify-content: space-between;	
}

.question-mark-icon:hover .question-mark-content .space .prisoner:not(:last-child){
	margin-right: 20px;
}



.question-mark-icon:hover .question-mark-content .list_of {
	font-weight: 700;
}


