* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@property --progress-value {
	syntax: "<integer>";
	inherits: true;
	initial-value: 0;
}

:root {
	--progress-bar-color: #cfd8dc;
	--progress-value-color: #2196f3;
	--progress-empty-color-h: 4.1;
	--progress-empty-color-s: 89.6;
	--progress-empty-color-l: 58.4;
	--progress-filled-color-h: 122.4;
	--progress-filled-color-s: 39.4;
	--progress-filled-color-l: 49.2;
}

body {
	font-family: "Raleway", sans-serif;
	min-height: 100vh;
	font-size: 1.6rem;
	background-color: #fff !important;
}

h1 {
	text-align: center;
	padding-bottom: 20px;
}

.div-boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.prison_cell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 1px solid rgb(37, 143, 37);
}

.dropdown {
	margin: 10px 0;
	font-size: 1.2rem;
	padding: 10px;
}

.floor {
	padding: 5px 10px;
	background: transparent;
	border: 1px solid black;
	border-radius: 8px;
}

.pop,
.move-popup {
	min-width: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e9e9e9;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	border-radius: 8px;
	min-height: 40%;
}

.info {
	display: flex;
	justify-content: space-between;
}

.pop .search,
.move-popup .move-search,
.move-popup .search1 {
	background-color: transparent;
	border-radius: 0px;
	border-bottom: 2px solid black;
}

.move {
	max-width: 200px;
}

.my-table {
	border-collapse: collapse;
	width: 100%;
	background: transparent;
}

.my-table th,
.my-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.my-table th {
	background-color: #f2f2f2;
}

.show_relations {
	border: none;
	background: transparent;
	text-decoration: underline;
}

.empty_list {
	min-width: max-content;
}

@media (min-width: 992px) {
	header .main_box {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	header .left_box {
		padding-right: 10px;
		border-right: 1px solid black;
	}

	.prisoner-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.question-mark-icon {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 7px;
}

.question-mark-content {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.question-mark-icon:hover .question-mark-content {
	display: block;
	padding: 20px;
}

.question-mark-icon:hover .question-mark-content .space {
	display: flex;
	justify-content: space-between;
}

.question-mark-icon:hover
	.question-mark-content
	.space
	.prisoner:not(:last-child) {
	margin-right: 20px;
}

.question-mark-icon:hover .question-mark-content .list_of {
	font-weight: 700;
}

progress[value] {
	display: block;
	position: relative;
	appearance: none;
	width: 80%;
	height: 6px;
	border: 0;
	--border-radius: 10px;
	border-radius: var(--border-radius);
	counter-reset: progress var(--progress-value);
	--progress-value-string: counter(progress) "%";
	--progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
	--progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
	@supports selector(::-moz-progress-bar) {
		--progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
	}
	--progress-value-percent: calc(var(--progress-value-decimal) * 100%);
	--progress-value-color: hsl(
		calc(
				(
						var(--progress-filled-color-h) -
							(var(--progress-filled-color-h) - var(--progress-empty-color-h)) *
							var(--progress-value-decimal)
					) * 1deg
			)
			calc(
				(
						var(--progress-filled-color-s) -
							(var(--progress-filled-color-s) - var(--progress-empty-color-s)) *
							var(--progress-value-decimal)
					) * 1%
			)
			calc(
				(
						var(--progress-filled-color-l) -
							(var(--progress-filled-color-l) - var(--progress-empty-color-l)) *
							var(--progress-value-decimal)
					) * 1%
			)
	);
	animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both
		progress;
}

progress[value]::-webkit-progress-bar {
	background-color: var(--progress-bar-color);
	border-radius: var(--border-radius);
	overflow: hidden;
}

progress[value]::-webkit-progress-value {
	width: var(--progress-value-percent) !important;
	background-color: var(--progress-value-color);
	border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
	width: var(--progress-value-percent) !important;
	background-color: var(--progress-value-color);
	border-radius: var(--border-radius);
}

@keyframes progress {
	from {
		--progress-value: 0;
	}
	to {
		--progress-value: var(--value);
	}
}
