* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
	min-height: 100vh;
	font-size: 1.6rem;
	background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
	background-size: cover;
	background-repeat: no-repeat;
}

button {
	margin: 10px 0;
	font-size: 1.4rem;
	padding: 10px;
	border: 2px solid #000000;
}

.my-table {
	border-collapse: collapse;
	width: 100%;
	background: transparent;
}

.my-table th,
.my-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.my-table th {
	background-color: #f2f2f2;
}

.my-table .show_prisoner {
	border: none;
	background: transparent;
	text-decoration: underline;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.popup,
.prisoner-popup {
	min-width: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e9e9e9;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	border-radius: 8px;
	min-height: 40%;
}

.add-popup {
    position: absolute;
    top: 80%; 
    left: 50%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}


.personal-info {
	display: flex;
	gap: 30px;
}

.data {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.prisoner_jpg {
	width: 100px;
	height: 100px;
}

.more-info {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn-close {
	position: absolute;
	right: 20px;
}

.info {
	display: flex;
	justify-content: space-between;
}



