body {
	font-family: "Raleway", sans-serif;
}

#calendar {
	max-width: 800px;
	margin: 40px auto;
}

.fc-event {
	border: 1px solid #eee !important;
	cursor: pointer;
}

.fc-content {
	padding: 3px !important;
}

.fc-content .fc-title {
	display: block !important;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group > label {
	margin-bottom: 10px;
}

#delete-modal .modal-footer > .btn {
	border-radius: 3px !important;
	padding: 0px 8px !important;
	font-size: 15px;
}

.fc-scroller {
	overflow-y: hidden !important;
	height: fit-content !important;
}

.fa,
.fas {
	font-size: 13px;
	margin-right: 4px;
}

.fc-customButton-button,
.fc-customButton2-button {
	position: sticky;
	transform: none;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

#calendar .fc-header-toolbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fc-event-pointer {
	cursor: pointer;
}

.fc-center {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 10px;
}

.fc-day-grid-event .fc-content {
	white-space: wrap;
}
